<!--suppress AngularUndefinedBinding -->
<table (matSortChange)="sortData($event)" [dataSource]="teams$" class="mat-elevation-z8" mat-table matSort
       matSortActive="donation" matSortDirection="desc">

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th *matHeaderCellDef mat-header-cell mat-sort-header>Názov tímu</th>
    <td *matCellDef="let team" mat-cell> {{team.name}} </td>
  </ng-container>

  <ng-container matColumnDef="stages_completed">
    <th *matHeaderCellDef mat-header-cell mat-sort-header>Prebehnuté úseky</th>
    <td *matCellDef="let team" mat-cell> {{team.stages_completed}} </td>
  </ng-container>

  <ng-container matColumnDef="average_tempo">
    <th *matHeaderCellDef mat-header-cell mat-sort-header>Priemerné tempo</th>
    <td *matCellDef="let team" mat-cell> {{tempoString(team.average_tempo)}} </td>
  </ng-container>

  <ng-container matColumnDef="donation">
    <th *matHeaderCellDef mat-header-cell mat-sort-header>Príspevok</th>
    <td *matCellDef="let team" mat-cell> {{team.donation}} €</td>
  </ng-container>


  <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
  <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
</table>
