table {
  width: 100%;
}

th {
  font-weight: bold;
}

.mat-column-donation {
  font-weight: bold;
}

td.mat-column-average_tempo,
td.mat-column-stages_completed,
td.mat-column-donation {
  text-align: center;
}

.mat-column-donation,
.mat-column-members {
  max-width: 64px;
}

