<div class="mt-4">
  <h1>Moje tímy</h1>
  <ng-container *ngIf="teams.length > 0; else empty">
    <div *ngFor="let team of teams" class="mb-2">
      <app-team [team]="team"></app-team>
    </div>
    <a class="md-fab md-fab-bottom-right" color="primary" id="add-button" mat-fab matTooltip="Vytvoriť nový tím"
       routerLink="/teams/create" style="right: 150px; position: fixed"><i class="material-icons">group_add</i></a>
  </ng-container>
</div>


<ng-template #empty>
  <div class="empty d-flex flex-column justify-content-center align-items-center">
    <p>
      Zatiaľ nepatríte do žiadneho tímu...
    </p>
    <a class="mx-2" color="primary" mat-raised-button routerLink="/teams/create">Založiť tím</a>
  </div>
</ng-template>
