<!--suppress HtmlFormInputWithoutLabel -->
<div class="d-flex justify-content-center align-items-center">
  <mat-card>
    <mat-card-title>Prihlásenie</mat-card-title>
    <mat-card-content>
      <form>
        <mat-form-field appearance="outline">
          <mat-label>E-mailová adresa</mat-label>
          <input [formControl]="emailField" matInput placeholder="e@mail.com" required type="email">
          <mat-error *ngIf="emailField.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Heslo</mat-label>
          <input [formControl]="passwordField" matInput placeholder="nbusr123" required type="password">
          <mat-error *ngIf="passwordField.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions align="end">
      <a mat-raised-button routerLink="/register">Registrácia</a>
      <button (click)="onSubmit()" [disabled]="emailField.invalid || passwordField.invalid" color="primary"
              mat-raised-button type="submit">Prihlásiť sa
      </button>
    </mat-card-actions>
  </mat-card>
</div>
