<!--suppress HtmlFormInputWithoutLabel -->
<div class="d-flex justify-content-center align-items-center">
  <mat-card>
    <mat-card-title>Prihlásenie</mat-card-title>
    <mat-card-content>
      <form [formGroup]="loginForm">
        <app-login-form formControlName="login"></app-login-form>
      </form>
    </mat-card-content>
    <p *ngIf="invalidCredentials" class="error">Nesprávne údaje</p>
    <mat-card-actions align="end">
      <a mat-raised-button routerLink="/register">Registrácia</a>
      <button (click)="onSubmit()" [disabled]="loginForm.invalid" color="primary"
              mat-raised-button type="submit">Prihlásiť sa
      </button>
    </mat-card-actions>
    <div *ngIf="errorMessage">
      <div class="alert alert-danger" role="alert">
        {{errorMessage}}
      </div>
    </div>
  </mat-card>
</div>
