<!--suppress HtmlFormInputWithoutLabel -->
<div class="d-flex justify-content-center align-items-center">
  <mat-card>
    <mat-card-title>Registrácia používateľa</mat-card-title>
    <mat-card-content>
      <form (submit)="onSubmit()" [formGroup]="registerForm">
        <app-register-form formControlName="registration"></app-register-form>
        <mat-card-actions align="end">
          <a mat-raised-button routerLink="/">Zrušiť</a>
          <button [disabled]="registerForm.invalid" color="primary" mat-raised-button type="submit">
            Registrovať
          </button>
        </mat-card-actions>
      </form>
    </mat-card-content>
    <div *ngIf="errorMessage">
      <div class="alert alert-danger" role="alert">
        {{errorMessage}}
      </div>
    </div>
  </mat-card>
</div>
