<mat-toolbar color="primary">
  <a class="toolbar-button" mat-button routerLink="/">
    <mat-icon class="home-icon" svgIcon="relay"></mat-icon>
    <span *ngIf="!dryRun(); else dryRunHeading" class="mat-h2">DXC RUN 4U</span>
  </a>
  <!--  <mat-divider [vertical]="true"></mat-divider>-->
  <!--  <a mat-button routerLink="/">Link</a>-->
  <span class="filler"></span>
  <div *ngIf="isLoggedIn" class="toolbar-button">
    <a class="toolbar-button d-none d-sm-flex" mat-button routerLink="/teams/my">{{user.name}}</a>
    <a class="toolbar-button d-sm-none" mat-icon-button routerLink="/teams/my">
      <mat-icon>account_circle</mat-icon>
    </a>
  </div>
  <mat-menu #appMenu="matMenu">
    <div *ngIf="isLoggedIn">
      <a mat-menu-item routerLink="/edit-profile">Upraviť profil</a>
      <button (click)="logout()" mat-menu-item>Odhlásiť</button>
    </div>
    <a [routerLink]="['']" fragment="leaderboard" mat-menu-item>Prehľad tímov</a>
    <a mat-menu-item routerLink="/about">O aplikácii...</a>
  </mat-menu>

  <button [matMenuTriggerFor]="appMenu" mat-icon-button>
    <mat-icon>more_vert</mat-icon>
  </button>
</mat-toolbar>

<ng-template #dryRunHeading>
  <span class="mat-h2"><span class="dry">DRY</span> RUN 4U</span>
</ng-template>
