@mixin navbar-component-theme($theme) {

  $primary: map-get($theme, primary);

  app-navbar {
    a:hover {
      background-color: mat-color($primary, A700);
      color: unset;
      text-decoration: unset;
      border-radius: 0;

    }

    button.mat-icon-button:hover {
      background-color: mat-color($primary, A700);
    }

    .filler {
      /* This fills the remaining space, by using flexbox.
         Every toolbar row uses a flexbox row layout. */
      flex: 1 1 auto;
    }

    .home-icon {
      margin-right: 15px;
      width: 37px;
      height: auto;
    }

    mat-divider {
      height: 75%;
    }

    mat-toolbar {
      padding: 0 1%;
    }

    .home-button {
      height: 100%;
      display: flex;
      align-items: center;
    }
  }
}
