<!--suppress HtmlFormInputWithoutLabel -->
<div class="d-flex justify-content-center align-items-center">
  <mat-card>
    <mat-card-title>Obnovenie hesla</mat-card-title>
    <mat-card-content>
      <form (submit)="onSubmit()">
        <mat-form-field appearance="outline">
          <mat-label>E-mailová adresa</mat-label>
          <input [formControl]="email" id="name-password-reset-field" matInput name="email" placeholder="e@mail.com"
                 required type="email">
        </mat-form-field>
        <mat-card-actions align="end">
          <a mat-raised-button routerLink="/login">Zrušiť</a>
          <button [disabled]="email.invalid" color="primary"
                  mat-raised-button type="submit">Obnoviť heslo
          </button>
        </mat-card-actions>
      </form>
    </mat-card-content>
    <div *ngIf="errorMessage">
      <div class="alert alert-danger" role="alert">
        {{errorMessage}}
      </div>
    </div>
    <div *ngIf="inProgress">
      <mat-progress-bar color="accent" mode="indeterminate"></mat-progress-bar>
    </div>
  </mat-card>
</div>
