<!--suppress HtmlFormInputWithoutLabel -->
<div class="my-4">
  <h1>{{team.name}}</h1>
  <mat-divider></mat-divider>

  <div class="row mt-2">
    <div class="col">
      <p>
        Toto je stránka vášho tímu.
      </p>
    </div>
  </div>
  <mat-divider></mat-divider>
  <mat-tab-group>
    <mat-tab label="Úseky">
      <app-stage-list [team]="team"></app-stage-list>
    </mat-tab>
    <mat-tab label="Správa tímu">
      <app-member-list (memberAdded)="onMemberAdded($event)" [team]="team"></app-member-list>
    </mat-tab>
  </mat-tab-group>
</div>

