@mixin stage-component-theme($theme) {

  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  @keyframes color-blinker {
    0% {
      background-color: mat-color($accent);
    }
    100% {
      background-color: mat-color($accent, 100);
    }
  }

  @keyframes blinker {
    0% {
      opacity: 100%
    }
    100% {
      opacity: 50%
    }
  }

  app-stage {
    .stage-length {
      color: mat-color($primary, A700);
      font-style: italic;

      p {
        margin: 0;
      }

    }

    table {
      width: 100%;
    }

    .in-progress {
      animation-name: color-blinker;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }

    td.final {
      font-weight: bold;
    }

    td.final.ahead {
      color: rgb(100, 255, 0);
    }

    td.final.behind {
      color: red;
    }

    .estimate {
      color: mat-color($primary, A700);
      font-style: italic;
      animation-name: blinker;
      animation-duration: 0.5s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }

    mat-expansion-panel {
      width: 100%;
    }

    .mat-expansion-panel-header {
      padding-left: 0;
    }

    div.mat-expansion-panel-body {
      padding: 0 0 10px;
    }
  }
}
