<div>
  <mat-expansion-panel [expanded]="stageInProgress()" class="d-sm-none px-0">
    <mat-expansion-panel-header [ngClass]="{'in-progress': stageInProgress()}">
      <ng-container *ngTemplateOutlet="header"></ng-container>
    </mat-expansion-panel-header>
    <div class="col">
      <div class="row">
        <ng-container *ngTemplateOutlet="content"></ng-container>
      </div>
    </div>
  </mat-expansion-panel>
  <!--</div>-->

  <mat-card [ngClass]="{'in-progress': stageInProgress()}" class="mb-1 d-none d-sm-flex">
    <div class="row w-100">
      <ng-container *ngTemplateOutlet="header"></ng-container>
      <ng-container *ngTemplateOutlet="content"></ng-container>
    </div>
  </mat-card>

</div>
<ng-template #header>
  <div class="col-sm-2">
    <div class="row row-cols-3 row-cols-sm-1">
      <div [ngClass]="{'col-8': ! stageFinished(), 'col-7':  stageFinished()}">
        <h2 class="m-0 m-sm-2">{{name}} - <span
          [ngClass]="{estimate: !started}">{{getTimeString(realStart, 'hm')}}</span></h2>
      </div>
      <div *ngIf=" stageFinished()" class="col-1 p-0 px-sm-3">
        <mat-icon color="accent">done_outline</mat-icon>
      </div>
      <div class="col-4 d-flex align-items-center justify-content-end justify-content-sm-start stage-length">
        <mat-icon>outlined_flag</mat-icon>
        <p>{{stage.length}} km</p>
      </div>
    </div>
  </div>
</ng-template>


<ng-template #content>
  <mat-divider vertical></mat-divider>
  <div class="col-sm order-2">
    <mat-form-field appearance="outline" class="d-block">
      <mat-label>Bežec</mat-label>
      <mat-select (valueChange)="onUserChange($event)" [(value)]="selectedUserValue"
                  [disabled]="stageInProgress() || stageFinished()" disableOptionCentering>
        <mat-option *ngFor="let u of users" [value]="u.email">{{u.name ? u.name : u.email}}</mat-option>
      </mat-select>
      <mat-hint *ngIf="!(stageInProgress() || stageFinished()); else hintAfterStart">Priraďte bežca na tento úsek
      </mat-hint>
    </mat-form-field>
    <div class="d-flex flex-row-reverse justify-content-between mt-2">
      <div *ngIf="stageInProgress()">
        <button (click)="acceptRelay()" *ngIf="!accepted && stageInProgress()" class="mr-2" color="primary"
                mat-raised-button>Prebrať štafetu
        </button>
        <button (click)="finishStage()" *ngIf="stageInProgress()" color="primary" mat-raised-button>Ukončiť úsek
        </button>
      </div>
      <button (click)="tempoDialog()" *ngIf="!(stageInProgress() || stageFinished())" mat-stroked-button>Upraviť tempo
      </button>
      <button (click)="timeDialog()" *ngIf="stageFinished()" mat-stroked-button>Upraviť čas cieľa</button>
    </div>
  </div>
  <mat-divider vertical></mat-divider>
  <div class="col-sm col-sm-3 my-2 my-sm-0 order-1 order-sm-3">
    <table>
      <tr>
        <th></th>
        <th>Predp.</th>
        <th>Skut.</th>
      </tr>
      <tr>
        <td>Štart</td>
        <td>{{getTimeString(estimatedStart, 'hm')}}</td>
        <td [ngClass]="getChangeClasses('start')" class="real">{{getTimeString(realStart, 'hm')}}</td>
      </tr>
      <tr>
        <td>Tempo</td>
        <td>{{getTimeString(estimatedTempo, 'hms')}}</td>
        <td
          [ngClass]="getChangeClasses('tempo')">{{ stageFinished() ? getTimeString(stage.real_time / stage.length, 'hms') : ''}}</td>
      </tr>
      <tr>
        <td>Trvanie</td>
        <td>{{getTimeString(stage.estimated_time, 'hms')}}</td>
        <td
          [ngClass]="getChangeClasses('duration')">{{ stageFinished() ? getTimeString(stage.real_time, 'hms') : ''}}</td>
      </tr>
      <tr>
        <td>Cieľ</td>
        <td>{{getTimeString(estimatedStart + stage.estimated_time, 'hm')}}</td>
        <td
          [ngClass]="getChangeClasses('end')">{{getTimeString(realStart + (stageFinished() ? stage.real_time : stage.estimated_time), 'hm')}}</td>
      </tr>
    </table>
  </div>
</ng-template>

<ng-template #hintAfterStart>
  <mat-hint>Po začatí úseku nemôžete zmeniť bežca</mat-hint>
</ng-template>
