@mixin stage-component-theme($theme) {

  $primary: map-get($theme, primary);

  app-stage {
    .stage-length {
      color: mat-color($primary, A700);
      font-style: italic;

      p {
        margin: 0;
      }

    }

    table {
      width: 100%;
    }

    mat-expansion-panel {
      width: 100%;
    }
  }
}
