<mat-card class="mb-1">
  <div class="row">
    <div class="col-sm-2">
      <div class="row row-cols-2 row-cols-sm-1">
        <div class="col">
          <h2 class="m-0 m-sm-2">{{name}}</h2>
        </div>
        <div class="col d-flex align-items-center justify-content-end justify-content-sm-start stage-length">
          <mat-icon>outlined_flag</mat-icon>
          <p>{{length}} km</p>
        </div>
      </div>
    </div>
    <mat-divider vertical></mat-divider>
    <div class="col-sm">
      <mat-form-field appearance="outline" class="d-block">
        <mat-label>Bežec</mat-label>
        <mat-select (valueChange)="onValueChange($event)" [(value)]="selectedUserValue">
          <mat-option *ngFor="let u of users" [value]="u.email">{{u.name ? u.name : u.email}}</mat-option>
        </mat-select>
        <mat-hint>Priraďte bežca na tento úsek</mat-hint>
      </mat-form-field>
    </div>
  </div>
</mat-card>
