app-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

div.content {
  padding-top: 64px;
  padding-bottom: 10px;
  margin-bottom: 40px;

  @media(max-width: 599px) {
    padding-top: 56px;
  }
}

