@import "src/dxc-light-theme";

$primary: mat-palette($dxc-light-primary);

header {
  display: block;
  background: mat-color($primary);
  color: white;
  padding: 30px;
}

img {
  width: 70%;
  height: auto;
}

a.mat-stroked-button:not([disabled]) {
  border-color: mat-color($primary, '700-contrast');
}

a.mat-stroked-button:hover {
  background-color: mat-color($md-dxc-primary, A700);
}
