@import "src/dxc-light-theme";

$primary: mat-palette($dxc-light-primary);

header {
  display: block;
  background: mat-color($primary);
  color: white;
  padding: 25px;
}

img {
  width: 70%;
  height: auto;
}

a.mat-stroked-button:not([disabled]) {
  border-color: mat-color($primary, '700-contrast');
}

a.mat-stroked-button:hover {
  background-color: mat-color($md-dxc-primary, A700);
}

.dxc-logo {
  width: 300px;
}

div.unfold {
  background-image: linear-gradient(mat-color($primary) 50%, rgba(255, 255, 255, 0) 50%);
}
