<!--suppress HtmlFormInputWithoutLabel -->
<div [formGroup]="formGroup">
  <mat-form-field appearance="outline">
    <mat-label>E-mailová adresa</mat-label>
    <input formControlName="emailField" matInput placeholder="e@mail.com" required type="email">
    <mat-error *ngIf="formGroup.get('emailField').invalid">{{getErrorMessage('emailField')}}</mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Meno</mat-label>
    <input formControlName="nameField" matInput placeholder="Jozef Mrkva" required type="text">
    <mat-hint>Meno, ktoré budú vidieť ostatní používatelia.</mat-hint>
    <mat-error *ngIf="formGroup.get('nameField').invalid">{{getErrorMessage('nameField')}}</mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Heslo</mat-label>
    <input formControlName="passwordField" matInput minlength="8" placeholder="nbusr123" required type="password">
    <mat-error *ngIf="formGroup.get('passwordField').invalid">{{getErrorMessage('passwordField')}}</mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Zopakujte heslo</mat-label>
    <input formControlName="passwordConfirmField" matInput minlength="8" placeholder="nbusr123" required
           type="password">
    <mat-error
      *ngIf="formGroup.get('passwordConfirmField').invalid">{{getErrorMessage('passwordConfirmField')}}</mat-error>
  </mat-form-field>
  <mat-label>Tempo</mat-label>
  <div class="d-flex align-items-center tempo-container">
    <mat-form-field appearance="outline" class="tempo-field">
      <mat-label>Min</mat-label>
      <input formControlName="tempoMinutesField" matInput min="0" placeholder="5" required step="1" type="number"
             value="5">
      <mat-error
        *ngIf="formGroup.get('tempoMinutesField').invalid">{{getErrorMessage('tempoMinutesField')}}</mat-error>
    </mat-form-field>
    <p>:</p>
    <mat-form-field appearance="outline" class="tempo-field">
      <mat-label>Sec</mat-label>
      <input formControlName="tempoSecondsField" matInput max="59" min="0" placeholder="5" required step="1"
             type="number"
             value="0">
      <mat-error
        *ngIf="formGroup.get('tempoSecondsField').invalid">{{getErrorMessage('tempoSecondsField')}}</mat-error>
    </mat-form-field>
    <p>/km</p>
  </div>


</div>
