<!--suppress HtmlFormInputWithoutLabel -->
<div [formGroup]="formGroup">
  <mat-form-field appearance="outline">
    <mat-label>E-mailová adresa</mat-label>
    <input formControlName="emailField" matInput placeholder="e@mail.com" required type="email">
    <mat-error *ngIf="formGroup.get('emailField').invalid">{{getErrorMessage('emailField')}}</mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Meno</mat-label>
    <input formControlName="nameField" matInput placeholder="Jozef Mrkva" required type="text">
    <mat-hint>Meno, ktoré budú vidieť ostatní používatelia.</mat-hint>
    <mat-error *ngIf="formGroup.get('nameField').invalid">{{getErrorMessage('nameField')}}</mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Heslo</mat-label>
    <input formControlName="passwordField" matInput placeholder="nbusr123" required type="password">
    <mat-error *ngIf="formGroup.get('passwordField').invalid">{{getErrorMessage('passwordField')}}</mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Zopakujte heslo</mat-label>
    <input formControlName="passwordConfirmField" matInput placeholder="nbusr123" required type="password">
    <mat-error
      *ngIf="formGroup.get('passwordConfirmField').invalid">{{getErrorMessage('passwordConfirmField')}}</mat-error>
  </mat-form-field>
</div>
